body {
    background: #eaeaea;
    font-family: "ubuntu";
    color: #333c3c;
    padding: 0 0 0 2.2em;
    margin-right: 2em;
    text-align: center;
}

h1 {
    border-bottom: 3px solid rgb(150, 165, 165);
    padding-bottom: .2em;
    font-size: 3em;
    margin-left: -.3em;
}

h3 {
    border-bottom: 1px solid rgb(150, 165, 165);
    padding-bottom: .2em;
    margin: 1.5em 0 0.5em 0;
}

input {
    display: block;
    margin-bottom: .7em;
}

input[type=text],
input[type=password],
textarea {
    font-family: "ubuntu";
    border: 0;
    padding: .7em .7em .7em .7em;
    color: #2a2a2a;
    font-weight: bolder;
    font-size: .9em;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
    text-overflow: ellipsis;
}

textarea {
    height: 250px;
}

input[type=text][disabled]:not([disabled=false]),
input[type=password][disabled]:not([disabled=false]),
textarea[disabled]:not([disabled=false]) {
    background: #b2bebe;
}

input[type=password].pin {
    padding: 0.1em .4em .1em .4em;
    font-size: 4em;
    max-width: 164px;
    text-align: center;
    display: block;
    border: solid 7px darkseagreen;
    margin: 0 auto;
    margin-bottom: .5em;
    margin-bottom: 0.3em !important;
}

input[type=submit],
input[type=button],
button {
    display: block;
    font-size: 1em;
    font-weight: 600;
    color: #f4f4f4;
    padding: .3em .7em;
    background: #4e4b4b;
    border: 2px solid #6f6f6f;
    cursor: pointer;
    margin-top: 7px;
    margin: 0 auto;
}

input[type=submit][disabled]:not([disabled=false]), input[type=button][disabled]:not([disabled=false]), button[disabled]:not([disabled=false]) {
    background: #6f6f6f;
    cursor: default;
    border: none;
    padding: .4em .8em;
}

img {
    max-width: 250px;
    width: 100%;
    height: auto;
    padding: 0;
}

.green {
    background: darkseagreen !important;
}

.red {
    background: indianred !important;
}

.card {
    display: inline-block;
    vertical-align: middle;
    transition: .5s;
    position: relative;
    left: 0;
    z-index: 2;
}

.cardmessage {
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
    max-width: 300px;
    transition: .5s;
    opacity: 1;
}

.inserted .card {
    left: calc(50% - 125px);
}

.step1, .step2 {
    opacity: 1;
    transition: .5s .5s;
}

.pinsubmit {
    transform: scale(1.2);
}

.padlock {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    opacity: 1;
    transition: .5s;
}
.p2 {
    margin-top: -220px;
}

.step3, .step4, .step5 {
    opacity: 1;
    transition: .5s;
}

.v-item {
    border: 10px solid #333;
    background: #333;
    display: inline-block;
    border-top-width: 3px;
    border-bottom-width: 3px;
    color: #fcfcfc;
    font-weight: 500;
    border-radius: 3px;
    margin: 10px;
    cursor: pointer;
    transition: .5s;
}

#selected.v-item {
    transform: scale(1.1);
}

.v-name {
    display: block;
    text-align: center;
    padding: .5em;
}

.v-img {
    display: block;
    margin-bottom: 7px;
    width: 140px;
}

.v-mny {
    display: block;
    margin-bottom: 10px;
    border-bottom: 3px solid #222;
    padding-bottom: 5px;
    font-size: 1.5em;
    margin-top: -5px;
    text-align: left;
}

.v-trsh {
    height: 40px;
    width: 40px;
    margin-right: -5px;
    position: relative;
    top: 5px;
}

.v-cash {
    height: 30px;
    width: 30px;
    margin-right: 5px;
    position: relative;
    top: 5px;
}

.rdm {
    display: block;
    padding-bottom: 3px;
}

#buy {
    font-size: 1.5em;
}

#trsh {
    color: indianred;
}

#choice {
	display: none;
}

#forchoice {
	display: block;
	width: 140px;
	height: 70px;
	border: 7px solid #423D72;
	background: #423D72;
	border-radius: 100px;
	overflow: hidden;
	transition: .5s;
	cursor: pointer;
	white-space: nowrap;
    margin: 0 auto;
    margin-bottom: 20px;
}

.choice {
	display: inline-block;
	height: 70px;
	vertical-align: middle;
}

.trashberries {
	background-image: url("img/grapes.svg");
	background-size: 50px;
	background-repeat: no-repeat;
	background-position: 13px 10px;
	width: 105px;
	height: 70px;
	transition: .5s;
	overflow: hidden;
	vertical-align: middle;
	background-color: indianred;
	position: relative;
	z-index: 1;
}

.cash {
	background-image: url("img/coins.svg");
	background-size: 35px;
	background-repeat: no-repeat;
	background-position: 40px 17px;
	width: 103px;
	height: 70px;
	transition: .5s;
	overflow: hidden;
	vertical-align: middle;
	background-color: #30A77B;
	margin-left: -71px;
}

#circle {
	position: relative;
	left: -38px;
	border-radius: 50%;
	height: 70px;
	width: 70px;
	display: inline-block;
	box-sizing: border-box;
	background: #e9e9e9;
	border: solid 10px #222;
	margin: 0;
	vertical-align: middle;
	margin-right: -70px;
	z-index: 2;
}

#choice:checked ~ #forchoice {
	border-color: #DAA515;
	background: #DAA515;
}

#choice:checked ~ #forchoice .trashberries {
	width: 34px;
}

#choice:checked ~ #forchoice .cash {
	margin-left: 0px;
}

#pick {
    font-size: 1.4em;
}

#pick::before {
    content: "Pay using ";
    display: block;
}

#pick::after {
    content: "Trasberries";
}

#choice:checked ~ #pick::after {
    content: "Credit";
}

.loader::before {
    content: ".";
    animation: fade .6s infinite alternate;
}

.loader {
    animation: fade .6s infinite alternate;
    animation-delay:  .3s;
}

.loader::after {
    content: ".";
    animation: fade .6s infinite alternate;
    animation-delay:  .6s;
}

@keyframes fade {
    from {
        color: transparent;
    }
    to {
        color: #333;
    }
}

.step5 {
    opacity: 1;
}

.inserted .cardmessage button, .inserted button, .unlocked button, .picked button, .chose button, .processed button button {
    display: none;
}

.inserted .cardmessage, .inserted, .unlocked, .picked, .chose, .processed {
    opacity: 0;
}

#reset {
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 1.2em;
    transition: .5s;
}

body[step="6"] #reset {
    position: static;
}

.step {
    display: none;
}

[step="1"] .step1,
[step="2"] .step2,
[step="3"] .step3,
[step="4"] .step4,
[step="5"] .step5,
[step="6"] .step6 {
    display: block;
}
